.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
# Ignore Quarto execution cache
.quarto/_freeze/

# Ignore Quarto cross-references
.quarto/xref/

#this is a large file that does not need to be updated/ pushed to Git
_site/

_site/search.json

.quarto/idx/index.qmd.json
